<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chats</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <button type="button" onclick="window.location.href='/chats/';">
        Chats
    </button>
    <ul>
        {% for chat in chats %}
            <li><a href="{% url 'chat_detail' chat.id %}">Chat #{{ chat.id }}</a></li>
        {% endfor %}
    </ul>

    <h4>Chat #{{ chat_id }}</h4>
    <div class="container">
        <div class="form-container">
            <form action="/chats/{{ chat_id }}/" method="post">
                {% csrf_token %}
                <input type="text" name="text" placeholder="Input your text here..." class="form-control">
                <button type="submit" class="btn btn-primary" style="margin: 0 auto;">Send</button>
            </form>
        </div>

    </div>

    <div class="chat-messages">
        {% for request in requests %}
            <div class="chat-message question">
                <p class="message-text">question: {{ request.question.text }}</p>
            </div>
            <div class="chat-message answer">
                <p class="message-text">answer: {{ request.answer.text }}</p>
            </div>
        {% endfor %}
    </div>
